<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="../src/css/output.css" rel="stylesheet"> -->

    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- scripts -->

    <!-- AlphineJS -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <!-- Table/page test -->
    <script defer>
        function CreateClient() {

            return {
                list_clients: [],
                numClintes: 1000,
                showContactModal: false,
                createData() {
                    let list = [];

                    for (let i = 0; i < this.numClintes; i++) {
                        list.push({
                            codigo: 1000 + i,
                            nome: "Cliente " + (i + 1),
                            documento: "00.000.000/0000-" + i,
                            email: "cliente" + (i + 1) + "@gmail.com",
                            telefone: "(18)90000-00" + (i % 100)
                        });
                    }
                    this.list_clients = list;
                },

                init() {
                    this.createData();
                },

                page: 1,
                ClientPerPage: 8,

                get totalPages() {
                    return Math.ceil(this.list_clients.length / this.ClientPerPage);
                },

                get pagination() {
                    const total = this.totalPages;
                    const current = this.page;
                    const num_neighbor = 1;
                    let pages = [];

                    // Menos que sete paginas, mostra tudo
                    if (total <= 7) {
                        let pages = [];
                        for (let i = 1; i <= total; i++) {
                            pages.push(i);
                        }

                        return pages;
                    }

                    // add primeira pagina
                    pages.push(1);

                    // Minimos e maximos de paginas
                    let start = Math.max(2, current - num_neighbor);
                    let end = Math.min(total - 1, current + num_neighbor);

                    if (current <= 3) end = 4;
                    if (current >= total - 2) start = total - 3;

                    for (let i = start; i <= end; i++) {
                        pages.push(i);
                    }

                    pages.push(total);

                    return pages;
                },

                get ClientPages() {
                    const clients = (this.page - 1) * this.ClientPerPage;
                    return this.list_clients.slice(clients, clients + this.ClientPerPage);
                },

                nextPage() {
                    if (this.page < this.totalPages) this.page++;
                },

                prevPage() {
                    if (this.page > 1) this.page--;
                },

                gotoPage(n) {
                    this.page = n;
                }
            }
        }
    </script>

    <!-- scripts END-->
</head>

<body class="bg-bgborder h-screen flex flex-col">
    <!-- border -->
    <div class="m-2 flex flex-col h-full">

        <!-- Nav Bar -->
        <nav class="bg-navbar shadow-gray-900 shadow-md z-2 p-2 border-b border-bg1 rounded-t-md">
            <div class="max-w-8/10 mx-auto flex justify-between items-center">

                <!-- Menu / UseCloud / Icon -->
                <div class="flex items-center gap-4">
                    <!-- Menu -->
                    <button><i
                            class="fa-solid fa-bars text-roxo text-xl  hover:text-white pt-1.5 hover:cursor-pointer"></i></button>

                    <!-- Name/Icon -->
                    <span class="font-bold text-2xl text-roxo">UseCloud <span
                            class="relative -top-1 bg-white text-[11px] px-2 py-0.5 rounded">ERP</span>
                </div>

                <!-- Dropdown -->
                <div class="flex items-center gap-3 relative">

                    <!-- Database -->
                    <select
                        class="bg-bg1 text-gray-200 px-3 py-2 rounded-md text-sm w-32 text-ellipsis font-semibold hover:cursor-pointer">
                        <option>Dev Cloud</option>
                        <option>Produção</option>
                    </select>

                    <!-- Nome Empresa -->
                    <select
                        class="bg-bg1 text-gray-200 px-3 py-2 rounded-md text-sm w-96 text-ellipsis font-semibold uppercase hover:cursor-pointer">
                        <option>Empresa Exemplo 1</option>
                        <option>Empresa Exemplo 2</option>
                        <option>Empresa Exemplo 3</option>
                    </select>
                </div>
                <!-- Dropdown END-->

                <!-- Right profile menu -->
                <div class="relative group">
                    <button class="flex items-center gap-2 hover:opacity-80 hover:cursor-pointer">
                        <img src="../src/icons/user.png" class="w-10 h-10 rounded-full border border-roxo" />
                        <div class="text-left text-sm">
                            <p class="text-gray-300 font-semibold">Olá, Usuário.</p>
                            <p class="text-gray-300 text-xs">Desenvolvedor</p>
                        </div>
                    </button>


                    <!-- Dropdown -->
                    <div class="absolute rounded-md bg-gray-300 group-hover:opacity-100  hidden group-hover:block">
                        <ul class="py-2 text-sm">
                            <li><a href="#" class="block px-4 py-2 hover:text-roxo hover:cursor-pointer">Meu Perfil</a>
                            </li>
                            <li><a href="#"
                                    class="block px-4 py-2 hover:text-roxo hover:cursor-pointer">Configurações</a></li>
                            <li><a href="#"
                                    class="block px-4 py-2 text-red-400 hover:text-red-900 hover:cursor-pointer">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </nav>
        <!-- Nav Bar END-->

        <!-- Main Component-->
        <div x-data="CreateClient()" class="bg-bg2 flex-1 rounded-b-md">
            <!-- Main Component max-w-80% -->
            <div class="max-w-8/10 mx-auto">
                <!-- States -->
                <div x-data="{ state: 'list' }" class="p-2">

                    <!-- State 1: Lista de Clientes -->
                    <div x-show="state === 'list'" class="p-2 mt-8">
                        <div class="flex mb-6 items-center">
                            <i class="fa-solid fa-users text-roxo text-2xl"></i>
                            <h1 class="text-3xl font-bold inline-block ml-2 text-white">Gerenciamento de Clientes</h1>
                        </div>

                        <div class="w-full flex items-end mt-8 mb-8">

                            <div class="flex gap-4">

                                <div class="flex flex-col">
                                    <label class="text-xs text-gray-300 font-bold mb-2">Tipo</label>
                                    <select class="bg-bg1 text-gray-300 rounded-md p-2.5 w-32">
                                        <option>Contendo</option>
                                        <option>Igual</option>
                                    </select>
                                </div>

                                <div class="flex flex-col">
                                    <label class="text-xs text-gray-300 font-bold mb-2">Contendo</label>
                                    <input type="text" placeholder="DIGITE O TEXTO A SER PESQUISADO"
                                        class="bg-bg1 text-gray-300 rounded-md p-2.5 w-80 placeholder-gray-500 uppercase">
                                </div>
                            </div>
                            <div class="ml-auto">

                                <!-- Button Novo Cliente -->
                                <button @click="state = 'new'"
                                    class="group bg-roxo text-gray-300 rounded-full flex hover:w-36 items-center shadow-lg hover:cursor-pointer">
                                    <span class="text-2xl flex items-center justify-center min-w-10 min-h-10 pb-1.5">
                                        +
                                    </span>
                                    <span
                                        class="opacity-0 group-hover:opacity-100 max-w-0 group-hover:max-w-xs transition-all duration-200 overflow-hidden whitespace-nowrap">
                                        Novo Cliente
                                    </span>
                                </button>
                                <!-- Button Novo Cliente END-->
                            </div>

                        </div>

                        <!-- Tabela Dados-->
                        <div class="mt-8">

                            <!-- Tabela -->
                            <div class="bg-bg1 rounded-xl shadow-lg overflow-hidden">
                                <table class="w-full text-left table-fixed rounded-xl ">
                                    <tbody class="text-xs text-gray-300  bg-navbar">
                                        <tr class="uppercase border-2 border-bg1 ">
                                            <th class="p-4 font-semibold w-8/100 rounded-tl-xl">Código</th>
                                            <th class="p-4 font-semibold w-35/100">Nome</th>
                                            <th class="p-4 font-semibold w-15/100">CPF/CNPJ</th>
                                            <th class="p-4 font-semibold w-23/100">Email</th>
                                            <th class="p-4 font-semibold w-10/100">Telefone</th>
                                            <th class="p-4 font-semibold text-center w-9/100 rounded-tr-xl">Ações</th>
                                        </tr>
                                    </tbody>

                                    <tbody class="text-md text-gray-300">
                                        <template x-for="list_clients in ClientPages" :key="list_clients.codigo">
                                            <tr class="hover:bg-bgborder ">
                                                <td class="p-4 truncate font-semibold" x-text="list_clients.codigo">
                                                </td>
                                                <td
                                                    class="p-4 truncate uppercase font-semibold flex items-center gap-2">
                                                    <i class="fa-regular fa-circle-user text-roxo text-md"></i>
                                                    <span x-text="list_clients.nome"></span>
                                                </td>
                                                <td class="p-4 truncate font-semibold" x-text="list_clients.documento">
                                                </td>
                                                <td class="p-4 truncate font-semibold" x-text="list_clients.email"></td>
                                                <td class="p-4 truncate font-semibold" x-text="list_clients.telefone">
                                                </td>
                                                <td class="text-center">
                                                    <button
                                                        class="bg-roxo text-[16px] font-semibold px-2 py-0.5 rounded-sm hover:bg-gray-500 hover:cursor-pointer">
                                                        Visualizar
                                                    </button>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Tabela END-->

                            <!-- paginação -->
                            <div class="flex justify-end mt-4 gap-2 font-semibold">

                                <button @click="prevPage" :disabled="page === 1"
                                    class="text-md px-3 h-8 rounded bg-gray-700 text-gray-300 hover:bg-gray-600 disabled:opacity-50 hover:cursor-pointer">
                                    Anterior
                                </button>

                                <template x-for="(item, index) in pagination" :key="index">


                                    <button @click="gotoPage(item)"
                                        class="text-md w-8 h-8 rounded flex items-center justify-center hover:cursor-pointer"
                                        :class="page === item ? 'bg-roxo text-gray-300 shadow-lg' : 'bg-bg1 text-gray-300 hover:bg-gray-600'">
                                        <span x-text="item"></span>
                                    </button>


                                </template>

                                <button @click="nextPage" :disabled="page === totalPages"
                                    class="text-md px-3 h-8 rounded bg-bg1 text-gray-300 hover:bg-gray-600 disabled:opacity-50 hover:cursor-pointer">
                                    Próxima
                                </button>

                            </div>
                            <!-- paginação END-->
                        </div>
                        <!-- Tabela Dados END-->

                    </div>

                    <!-- State 2: Novo Cliente -->
                    <div x-show="state === 'new'" class="p-2 mt-8">
                        <!-- Titulo/botão -->
                        <div class="flex justify-between mb-6">


                            <div>
                                <div class="flex items-center">
                                    <i class="fa-solid fa-users text-roxo text-2xl"></i>
                                    <h1 class="text-3xl font-bold inline-block ml-2 text-white">Gerenciamento de
                                        Clientes
                                    </h1>
                                </div>
                            </div>

                            <button @click="state = 'list'"
                                class="bg-gray-700 hover:bg-gray-600 text-gray-200 px-4 py-2 rounded shadow flex items-center gap-2 text-md hover:cursor-pointer">
                                <i class="fa-solid fa-arrow-left"></i> Voltar aos Clientes
                            </button>
                        </div>
                        <!-- Titulo/botão END-->

                        <!-- Identificação -->
                        <div class="mb-6">

                            <div class="class-new-client">
                                <i class="fa-regular fa-user text-roxo"></i>
                                <h2 class="font-semibold text-lg">Identificação</h2>
                            </div>

                            <!-- Grid -->
                            <div class="grid grid-cols-1 lg:grid-cols-12 gap-6 text-left">

                                <div class="lg:col-span-1">
                                    <label class="label-padrao">Código</label>
                                    <input type="text" value="108384" readonly class="input-readonly">
                                </div>

                                <div class="lg:col-span-2">
                                    <label class="label-padrao">Pessoa</label>
                                    <div class="relative">
                                        <select class="input-padrao hover:cursor-pointer">
                                            <option>Jurídica</option>
                                            <option>Física</option>
                                        </select>
                                        <div class="angle-down">
                                            <i class="fa-solid fa-angle-down text-xs"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="lg:col-span-3">
                                    <label class="label-padrao">Tipo</label>
                                    <div class="relative">
                                        <select class="input-padrao hover:cursor-pointer">
                                            <option>VENDAS</option>
                                            <option>SERVIÇOS</option>
                                        </select>
                                        <div class="angle-down">
                                            <i class="fa-solid fa-angle-down text-xs"></i>
                                        </div>
                                    </div>

                                </div>

                                <div class="lg:col-span-2">
                                    <label class="label-padrao">CNPJ</label>
                                    <div class="relative">
                                        <input type="text" value="42.506.289/0001-65" class="input-padrao pr-8">
                                        <i class="fa-solid fa-magnifying-glass text-roxo absolute right-3 top-2.5"></i>
                                    </div>
                                </div>

                                <div class="lg:col-span-2">
                                    <label class="label-padrao">CPF</label>
                                    <input type="text" placeholder="CPF" readonly class="input-readonly">
                                </div>

                                <div class="lg:col-span-2">
                                    <label class="label-padrao">Inscrição Estadual</label>
                                    <input type="text" value="9089827202" class="input-padrao">
                                </div>

                                <div class="lg:col-span-6">
                                    <label class="label-padrao">Razão Social</label>
                                    <input type="text" value="MARCELO DE OLIVEIRA SANTOS SOFTWARE LTDA"
                                        class="input-padrao uppercase">
                                </div>

                                <div class="lg:col-span-6">
                                    <label class="label-padrao">Nome Fantasia</label>
                                    <input type="text" value="USE SISTEMAS" class="input-padrao uppercase">
                                </div>

                            </div>
                            <!-- Grid -->

                        </div>
                        <!-- Identificação END -->

                        <div class="border-t border-bg1 my-8 shadow-md"></div>

                        <!-- Contato e Localização/Configurações Fiscais Grid -->
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                            <!-- Contato e Localização-->
                            <div>
                                <div class="class-new-client">
                                    <i class="fa-solid fa-map-location-dot text-roxo"></i>
                                    <h2 class="font-semibold text-lg">Contato e Localização</h2>
                                </div>

                                <div class="grid grid-cols-12 gap-4 text-left">

                                    <div class="col-span-12 lg:col-span-4">
                                        <label class="label-padrao">Telefone</label>
                                        <input type="text" value="(43)9955-2100" class="input-padrao">
                                    </div>

                                    <div class="col-span-12 lg:col-span-4">
                                        <label class="label-padrao">Fax</label>
                                        <input type="text" placeholder="FAX" readonly
                                            class="w-full bg-readonly text-gray-500 rounded p-2 text-sm placeholder-gray-500 cursor-not-allowed">
                                    </div>

                                    <div class="col-span-12 lg:col-span-4">
                                        <label class="label-padrao">Região</label>
                                        <div class="relative">
                                            <select class="input-padrao uppercase hover:cursor-pointer">
                                                <option>Sudeste</option>
                                                <option>Sul</option>
                                                <option>Norte</option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-span-12">
                                        <label class="label-padrao">E-mail
                                            NFE/Boletos</label>
                                        <input type="text" value="comercial@usesistemas.com.br" class="input-padrao">
                                    </div>

                                    <div class="col-span-12 lg:col-span-6">
                                        <label class="label-padrao">Indicação</label>
                                        <div class="relative">
                                            <select class="input-padrao hover:cursor-pointer">
                                                <option></option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-span-12 lg:col-span-6">
                                        <label class="label-padrao">Ramo/Profissão</label>
                                        <div class="relative">
                                            <select class="input-padrao hover:cursor-pointer">
                                                <option></option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Contato e Localização END-->

                            <!-- Configurações Fiscais-->
                            <div>
                                <div class="class-new-client">
                                    <i class="fa-solid fa-file-invoice-dollar text-roxo"></i>
                                    <h2 class="font-semibold text-lg">Configurações Fiscais</h2>
                                </div>
                                <!-- GRID -->
                                <div class="grid grid-cols-12 gap-4 text-left">

                                    <div class="col-span-12">
                                        <label class="label-padrao">Indicador de
                                            IE</label>
                                        <div class="relative">
                                            <select class="input-padrao uppercase hover:cursor-pointer">
                                                <option>Contribuinte ICMS (informar a IE do destinatário)</option>
                                                <option>Contribuinte Isento</option>
                                                <option>Não Contribuinte</option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-span-12 lg:col-span-8">
                                        <label class="label-padrao">Regime
                                            Tributário</label>
                                        <div class="relative">
                                            <select class="input-padrao uppercase hover:cursor-pointer">
                                                <option>SIMPLES NACIONAL</option>
                                                <option>LUCRO REAL</option>
                                                <option>LUCRO PRESUMIDO</option>
                                                <option>MEI</option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-span-12 lg:col-span-4">
                                        <label class="label-padrao">ID Estrangeiro</label>
                                        <input type="text" placeholder="ID ESTRANGEIRO" readonly class="input-readonly">
                                    </div>

                                    <div class="col-span-12">
                                        <label class="label-padrao">Redespacho</label>
                                        <input type="text" placeholder="REDESPACHO" readonly class="input-readonly">
                                    </div>

                                </div>
                                <!-- GRID END-->

                            </div>
                            <!-- Configurações Fiscais END-->
                        </div>
                        <!-- Contato e Localização/Configurações Fiscais Grid END-->

                        <div class="border-t border-bg1 my-8 shadow-md"></div>

                        <!-- Configurações de Pedido/Complemento Grid -->
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">
                            <!-- Configurações de Pedido -->
                            <div>
                                <div class="class-new-client">
                                    <i class="fa-solid fa-cart-shopping text-roxo"></i>
                                    <h2 class="font-semibold text-lg">Configurações de Pedido</h2>
                                </div>

                                <div class="grid grid-cols-12 gap-4 text-left">

                                    <div class="col-span-8 lg:col-span-9">
                                        <label class="label-padrao">Tabela de
                                            Preço</label>
                                        <div class="relative">
                                            <select class="input-padrao hover:cursor-pointer">
                                                <option></option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-span-4 lg:col-span-3">
                                        <label class="label-padrao">% Desc</label>
                                        <input type="text" placeholder="% DESC" class="input-padrao">
                                    </div>

                                    <div class="col-span-12 lg:col-span-6">
                                        <label class="label-padrao">Limite de
                                            Crédito</label>
                                        <input type="text" placeholder="LIMITE DE CRÉDITO" class="input-padrao">
                                    </div>

                                    <div class="col-span-12 lg:col-span-6">
                                        <label class="label-padrao">Crédito
                                            Liberado</label>
                                        <div class="relative">
                                            <select class="input-padrao hover:cursor-pointer">
                                                <option>SIM</option>
                                                <option>NÃO</option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-span-12">
                                        <label class="label-padrao">Observações</label>
                                        <input type="text" placeholder="OBSERVAÇÕES" class="input-padrao">
                                    </div>

                                </div>
                            </div>
                            <!-- Configurações de Pedido END -->
                            <!-- Complemento -->
                            <div>
                                <div class="class-new-client">
                                    <i class="fa-solid fa-bars text-roxo"></i>
                                    <h2 class="font-semibold text-lg">Complemento</h2>
                                </div>

                                <!-- GRID -->
                                <div class="grid grid-cols-12 gap-4 text-left">

                                    <div class="col-span-12">
                                        <label class="label-padrao">Fornecedor</label>
                                        <div class="relative">
                                            <select class="input-padrao hover:cursor-pointer">
                                                <option>Nenhum Selecionado</option>
                                                <option>Fornecedor A</option>
                                            </select>

                                            <div
                                                class="absolute inset-y-0 right-10 flex items-center px-2 text-gray-100 pointer-events-none">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>

                                            <i
                                                class="fa-solid fa-magnifying-glass absolute right-3 top-1/2 -translate-y-1/2 text-roxo pointer-events-none"></i>

                                        </div>
                                    </div>

                                    <div class="col-span-12">
                                        <label class="label-padrao">Transportadora</label>
                                        <div class="relative">
                                            <select class="input-padrao hover:cursor-pointer">
                                                <option></option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-span-8 lg:col-span-9">
                                        <label class="label-padrao">Grupo
                                            Financeiro</label>
                                        <div class="relative">
                                            <select class="input-padrao hover:cursor-pointer">
                                                <option></option>
                                            </select>
                                            <div class="angle-down">
                                                <i class="fa-solid fa-angle-down text-xs"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-span-4 lg:col-span-3">
                                        <label class="label-padrao">Cód Reduzido</label>
                                        <input type="text" placeholder="CÓD REDUZIDO" class="input-padrao">
                                    </div>

                                </div>
                                <!-- GRID END-->
                            </div>
                            <!-- Complemento END -->
                        </div>
                        <!-- Configurações de Pedido/Complemento Grid END-->

                        <div class="border-t border-bg1 my-8 shadow-md"></div>

                        <div class="flex items-center justify-between">
                            <div class="class-new-client">
                                <i class="fa-solid fa-address-book text-roxo"></i>
                                <h2 class="font-semibold text-lg">Contatos Adicionais</h2>
                            </div>

                            <button @click="showContactModal = true"
                                class="bg-roxo hover:bg-gray-500 text-white px-4 py-2 rounded shadow flex items-center gap-2 transition-all hover:cursor-pointer">
                                <i class="fa-solid fa-plus"></i> Novo Contato
                            </button>
                        </div>
                        <!-- Modal -->
                        <div x-show="showContactModal" x-transition.opacity
                            class="fixed inset-0 bg-gray-600/60 backdrop-blur flex items-center justify-center z-2">

                            <!-- Modal true -->
                            <div @click.outside="showContactModal = false"
                                class="bg-bg2 border border-gray-700 rounded-2xl shadow-2xl w-full max-w-2xl p-6">
                                <div class="flex justify-between items-center mb-6">
                                    <h3 class="text-xl font-bold text-white flex items-center gap-2">
                                        <i class="fa-solid fa-phone text-roxo text-md"></i> Contato do Cliente
                                    </h3>
                                    <button @click="showContactModal = false"
                                        class="text-gray-400 hover:cursor-pointer transition-colors">
                                        <i class="fa-solid fa-xmark text-xl"></i>
                                    </button>
                                </div>

                                <div class="space-y-4 text-left">
                                    <label class="block text-xs font-bold text-gray-400 mb-2">Definições</label>
                                    <div class="border border-bg1 p-4 rounded-md">

                                        <div class="flex gap-4">
                                            <label class="flex items-center gap-2 cursor-pointer">
                                                <input type="checkbox" class="w-4 h-4 rounded">
                                                <span class="text-md text-gray-300">Ativo</span>
                                            </label>
                                            <label class="flex items-center gap-2 cursor-pointer">
                                                <input type="checkbox" class="w-4 h-4 rounded">
                                                <span class="text-md text-gray-300">Principal</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="grid grid-cols-12 gap-4">
                                        <div class="col-span-8">
                                            <label class="label-padrao">Contato</label>
                                            <input type="text" placeholder="CONTATO" class="input-padrao">
                                        </div>
                                        <div class="col-span-4">
                                            <label class="label-padrao">Data de
                                                Nascimento</label>
                                            <div class="relative">
                                                <input type="text" placeholder="DD / MM / AAAA" class="input-padrao">
                                                <i
                                                    class="fa-regular fa-calendar absolute right-3 top-2.5 text-roxo"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid grid-cols-12 gap-4">
                                        <div class="col-span-6">
                                            <label class="label-padrao">Telefone</label>
                                            <input type="text" placeholder="TELEFONE" class="input-padrao">
                                        </div>
                                        <div class="col-span-6">
                                            <label class="label-padrao">Celular</label>
                                            <input type="text" placeholder="CELULAR" class="input-padrao">
                                        </div>
                                    </div>

                                    <div>
                                        <label class="label-padrao">E-mail</label>
                                        <input type="email" placeholder="E-mail" class="input-padrao">
                                    </div>

                                    <div>
                                        <label class="label-padrao">Observações</label>
                                        <input type="text" placeholder="OBSERVAÇÕES" class="input-padrao">
                                    </div>

                                </div>

                                <div class="flex justify-end mt-8 pt-4 gap-3">
                                    <button @click="showContactModal = false"
                                        class="bg-roxo hover:bg-gray-500 text-white px-6 py-2 rounded shadow font-semibold hover:cursor-pointer">
                                        Salvar
                                    </button>
                                    <button @click="showContactModal = false"
                                        class="bg-gray-700 hover:bg-gray-600 text-gray-300 px-6 py-2 rounded shadow font-semibold hover:cursor-pointer">
                                        Cancelar
                                    </button>
                                </div>

                            </div>
                            <!-- Modal true END-->
                        </div>
                        <!-- Modal END-->
                    </div>
                    <!-- State 2: Novo Cliente END-->
                </div>
                <!-- States END-->
            </div>
            <!-- Main Component max-w-80% END -->
        </div>
        <!-- Main Component END -->
    </div>
    <!-- border END-->
</body>

</html>